.page {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightblue;
}

.fleximg {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

.promopic {
    width: 500px;
    height: 500px;
    border-radius: 150 / 2;
    overflow: hidden;
    border-width: 3;
}

.splitcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.splitpage {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}
